<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test project</title>
</head>
<body>
<form action="#" th:action="@{/project}" th:object="${project}" method="post">
    <div class="form-group">
        <label for="nom">Nom du projet</label>
        <input type="text" class="input-lg form-control" id="nom"
               th:field="*{nom}" placeholder="Nom">
    </div>
    <div class="form-group">
        <label> Utilisateur </label>
        <select>
            <option>bouh</option>
        </select>
        <select th:each="user : ${datas}">
            <option th:text="${user.id}"></option>
        </select>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>
    </div>
</form>
</body>
</html>